.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  border: 2px solid black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 10px;
}

.myform label {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: right;
  width: 400px;
  line-height: 26px;
}

.myform input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

.myform {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav button {
  background: none;
  border: none;
}

.nav ul {
  display: flex;
}

.nav li {
  padding: 10px;
}

.employees {
  text-align: left;
}

.employees h3 {
  margin: 0;
}

.employees li {
  margin: 20px;
}

.home p {
  font-size: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  margin: 10px 0;
  width: 350px;
  padding: 20px;
}

.card a {
  text-decoration: none;
}

.card img {
  margin-bottom: 8px;
  height: 200px;
  width: 200px; 
}
.bg-light {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}